<html class="no-js" ng-app="appPoderDeCompra" ng-controller="registracionController as vm">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Poder de compra</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
<body>
    <header class="navbar navbar-default navbar-static-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="/#/" class="logo"><img src="/Content/santander-rio-logo.png" /></a>
                </div>
            </div>
        </div>
    </header>

<div class="body-content">
    <div class="container-fluid bg-login">
        <div class="col-md-8"></div>
        <div class="col-md-3">
            <div id="session">
                <img src="~/Content/login-logo.png" alt="Back Office" class="logo-session" />
                <p class="subtitle-session">Ingerese sus credenciales para operar</p>
                <p class="subtitle-errorlogin" ng-bind="vm.message"></p>
                <form ng-submit="vm.submitLogin()">
                    <div class="divider-form">
                        @*<img src="~/Content/icon-login.png" alt="Nombre"/>*@
                        <i class="fa fa-user fa-lg" style="color:whitesmoke;"></i>
                        <input type="text" name="name" ng-model="vm.Registracion.Nombre" class="transparent" ng-disabled="vm.isLoading" placeholder="Nombre"/>
                    </div>
                    <div class="divider-form">
                        @*<img src="~/Content/icon-login.png" alt="Apellido" />*@
                        <i class="fa fa-user fa-lg" style="color:whitesmoke;"></i>
                        <input type="text" name="name" ng-model="vm.Registracion.Apellido" class="transparent" ng-disabled="vm.isLoading" placeholder="Apellido" />
                    </div>
                    <div class="divider-form">
                        @*<img src="~/Content/icon-login.png" alt="Usuario"/>*@
                        <i class="fa fa-at fa-lg" style="color:whitesmoke;"></i>
                        <input type="email" placeholder="Email" name="name" ng-model="vm.Registracion.Mail" class="transparent" ng-disabled="vm.isLoading" />
                    </div>
                    <div class="divider-form last-div">
                        @*<img src="~/Content/icon-locker.png" alt="Password"/>*@
                        <i class="fa fa-key fa-lg" style="color:whitesmoke;"></i>
                        <input type="password" name="name" ng-model="vm.Registracion.Password" class="transparent" ng-disabled="vm.isLoading" placeholder="Contraseña"/>
                    </div>
                    <div>
                        <button class="btn btn-custom btn-ingreso" type="submit" ng-disabled="vm.isLoading">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>


